@{
    ViewBag.Title = "Registrar animal";
    var potreros = ViewBag.Potreros as System.Collections.Generic.IList<dynamic>;
}
<h2>Registrar animal</h2>
@using (Html.BeginForm("Nuevo", "Animales", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row g-2">
        <div class="col-md-6">
            <label class="form-label">Nombre</label>
            <input type="text" name="Nombre" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Fecha nacimiento</label>
            <input type="date" name="FechaNac" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Raza</label>
            <input type="text" name="Raza" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Sexo</label>
            <select name="Sexo" class="form-select">
                <option value="">Seleccione</option>
                <option value="M">M</option>
                <option value="H">H</option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Tipo</label>
            <input type="text" name="Tipo" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Salud</label>
            <input type="text" name="Salud" class="form-control" />
        </div>
        <div class="col-md-6">
            <label class="form-label">Potrero</label>
            <select name="IdPotrero" class="form-select">
                <option value="">Sin asignar</option>
                @if (potreros != null)
                {
                    foreach (var p in potreros)
                    {
                        <option value="@p.IdPotrero">@p.Nombre</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        @Html.ActionLink("Cancelar", "Index", "Animales", null, new { @class = "btn btn-secondary" })
    </div>
}
